pandas
numpy
matplotlib
iexfinance
plotly==4.1.0
tweepy
plotly-express
panel
scattertext
spacy
wordcloud
rise
tabulate
scipy
scikit-learn
image
chart_studio
vaderSentiment
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz